body {
    font-family: <style>
    @import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
    </style>;
    color: antiquewhite;
    background-color: #ee7ec7;
  }
  
  h1 {
    color: #ee7ec7;
  }
  
  a {
    color: #ee7ec7;
  }
  
  button {
    background-color: #f525c1;
    border-radius: 0.2rem;
    border-style: none;
    color: #242469;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .my-photo {
    width: 100%;
    max-width: 720px;
    border-radius: 1rem;
  }
  
  .footer {
    font-size: 0.8rem;
  }